.DS_Store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/
*.tsbuildinfo
.build/

dsh-plugin-desktop/dist/
dsh-plugin-desktop/lib/
dsh-plugin-desktop/build/futurestaff-profile/
dsh-community-market/lib/

.env.yarn
